.main {
    max-width: max-content;
    margin: auto;
    color: green;
    padding: 50px;
    height: 520px;
    background-color: #f6f6f8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.help-text {
    color: rgb(255, 178, 36);
    font-size: small;
}

.sign-btn {
    color: rgb(45, 121, 1);
} 
