body {
    background-color: white;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 600px auto;
    background-color: black;
    padding: 10px;
    grid-gap: 50px;
}
  
.grid-item {
    background-color: red;
    border: 1px solid orange;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
  
.item1 {
    height: 100px;
    grid-column-end: span 3;
}
  
.item5 {
    height: 200px;
    grid-column-end: span 3;
}
  
.item2, item3, item4 {
    height: 500px; 	
}
